.modal-container {
  text-align: center;
}

.modal-container i {
  font-size: 8em;
  margin-right: 10px;
  color: #327ebd;
  margin-bottom: 5px;
}

.modal-message {
  margin-bottom: 5px;
}

textarea {
  width: 20em;
  height: 5em;
}
