<app-modal
[headerText]="data.headerText"
[containerWidth]="data.containerWidth"
>
<div class="modal-container">
  <div>
	  <div class="table-container">
      <form [formGroup]="editForm">
      <table class="mat-table">
        <thead>
        <tr>
          <th>PR no.</th>
          <th>Requestor</th>
          <th>Designation</th>
          <th>Division</th>
          <th>Purpose</th>
        </tr>
      </thead>
        <tr class="mat-row">
          <td align="center" class="mat-cell">
          <input type="text" size="6" placeholder="PR No." class="prno" formControlName="pr_number" />
        </td>
          <td align="center" class="mat-cell">
            <input matInput type="text" size="25" placeholder="Requestor" class="requestor form-field" [matAutocomplete]="auto" formControlName="requestor"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.full_name">
                {{option.full_name}}
              </mat-option>
            </mat-autocomplete>
          </td>
          <td align="center" class="mat-cell"> <input type="text" size="30" placeholder="Designation" class="designation" formControlName="designation" /> </td>
          <td align="center" class="mat-cell">
            <select class="division" formControlName="division">
            <option *ngFor="let division of divisions" [value]="division.division_name">{{ division.division_name}}</option>
            </select>
          </td>
          <td align="center" class="mat-cell"> <input type="text" size="30"placeholder="Purpose" class="purpose" formControlName="purpose" /> </td>
        </tr>
        <!--<tr>
          <td align="center" colspan="7"> <button type="button" (click)="addPurchaseRequest()">Upload</button> </td>
        </tr>-->
      </table>
      <br>
          <p>PR Items</p> <br>
              <table style="border: 1px solid black;">
              <thead>
                <tr>
                <th width="20%">Item</th>
                <th width="20%">Quantity</th>
                <th width="20%">Unit</th>
                <th width="20%">Cost</th>
                <th width="20%"><button type="button" (click)="addQuantity()" class="no-style-btn add-item"><i class="fa-solid fa-square-plus"></i></button></th>
                </tr>
              </thead>
                <tr *ngFor="let pritem of pr_items">
                  <td align="center">
                    <input type="text" class="form-control" size="40" placeholder="Enter Item" [value]="pritem.pr_items">
                  </td>
                  <td align="center">
                    <input type="text" class="form-control" size="10" placeholder="Enter Quantity" [value]="pritem.pr_quantity">
                  </td>
                  <td align="center">
                    <select id="role" class="form-control" [value]="pritem.pr_unit">
                      <option *ngFor="let unit of units" [value]="unit.unit_name"> {{unit.unit_name}} </option>
                    </select>
                  </td>
                  <td align="center">
                    <input type="text" class="form-control" size="15" placeholder="Enter Cost" [value]="pritem.pr_cost">
                  </td>
                  <td align="center">
                    <button (click)="removeQuantity(pritem)" class="no-style-btn remove-item"><i class="fa-solid fa-trash"></i></button>
                  </td>
                </tr>
                <tr></tr>
                <tr>
                <td align="center" colspan="5">
                  <button type="button"  class="save-item">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                    Create Purchase Request
                  </button>
                </td>
                </tr>
                <tr></tr>
              </table>
            <br>
              <div>
                <p>Remarks</p> <br>
                <textarea cols="30" rows="10" placeholder="Please enter your remarks here .." formControlName="cancel_remarks"></textarea>
              </div>
      <!-- Remarks
      <textarea cols="30" rows="10" placeholder="Please enter your remarks here .." formControlName="cancel_remarks"></textarea> -->
      </form>
    </div>
    <!-- <form [formGroup]="cancel_pr">
      <textarea cols="30" rows="10" placeholder="Please enter your remarks here .." formControlName="cancel_remarks"></textarea>
    </form> -->
  </div>
  <!-- <div class="modal-buttons">
    <button mat-flat-button color="primary" class="modal-confirm" (click)="onConfirm(data.number)" style="margin-right: 5px;">Confirm</button>
    <button mat-flat-button color="warn" class="modal-cancel" (click)="onCancel()">Cancel</button>
  </div> -->
</div>
</app-modal>
