// .mat-column-PRNo, .mat-column-PRDate {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     flex: 0 1 8% !important;
//     width: 8% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;

//     word-break: break-word;

//     -ms-hyphens: auto;
//     -moz-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//   }

//   .mat-column-PRRequestor, .mat-column-PRDesignation, .mat-column-PRDivision, .mat-column-PRPurpose, .mat-column-PrAction {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     flex: 0 0 15% !important;
//     width: 15% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;

//     word-break: break-word;

//     -ms-hyphens: auto;
//     -moz-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//   }

// .mat-column-PRPurpose {
//   flex: 0 0 25% !important;
//   width: 25% !important;
// }

// .mat-column-PrAction {
//   flex: 0 0 10% !important;
//   width: 10% !important;
// }

.mat-row:nth-child(even){
    background-color: #ffffff;
}

.mat-row:nth-child(odd){
    background-color: #cccccc;
}

.table-approve{
  width: 100%;
 }



.mat-column-PRNo, .mat-column-PRDate, .mat-column-PRRequestor, .mat-column-PRDesignation, .mat-column-PRDivision, .mat-column-PRPurpose, .mat-column-PrAction {
  width: 32px;
  justify-content: center !important;
  text-align: center !important;
}
