table {
    width: 100%;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

  .mat-column-PRNo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Date {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Requestor {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 12% !important;
    width: 12% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Designation {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Division {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Purpose {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 31% !important;
    width: 31% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-Status {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .requestor {
    width: 100%;
  }

  .add-item {
    font-size: 26px;
  }

  .remove-item {
    font-size: 26px;
    color: red;
  }
  .save-item {
    all: unset;
    background-color: #7ebd32;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    border-radius: 0.3em;
  }

  .inline-form {
    display: flex;
    gap: 5px;       /* Adds a 10px gap between flex items */
    width: 100%;     /* Sets the width to 100% of the container */
  }
  .pr-items {
    overflow: auto;
    height: 220px;
  }

  .sticky-header {
    position: sticky;
    top: 0;
    background-color: #327ebd;
    color: white;
    border: 0px solid black;
  }
  table {
    border-collapse: collapse;

  }

  td, th {
    padding: 0;
    margin: 0;
  }

  .designation, ::ng-deep .mat-select-value,
  ::ng-deep .mat-select-placeholder {
    color:#000000 !important;
  }

